<footer style="background-color: #333; color: #fff; padding: 20px 0; text-align: center;">
    <div class="container">
      <div style="margin-bottom: 20px;">
        <a href="https://www.facebook.com" target="_blank" style="margin: 0 15px; color: #fff; text-decoration: none;">
          <i class="fab fa-facebook-f"></i> Facebook
        </a>
        <a href="https://www.twitter.com" target="_blank" style="margin: 0 15px; color: #fff; text-decoration: none;">
          <i class="fab fa-twitter"></i> Twitter
        </a>
        <a href="https://www.instagram.com" target="_blank" style="margin: 0 15px; color: #fff; text-decoration: none;">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        <a href="https://www.linkedin.com" target="_blank" style="margin: 0 15px; color: #fff; text-decoration: none;">
          <i class="fab fa-linkedin-in"></i> LinkedIn
        </a>
      </div>
      <div>
        <p style="margin: 0;">&copy; 2024 Wanderlust. All rights reserved.</p>
      </div>
    </div>
  </footer>